name: tests

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ master ]
    
jobs:
  build-and-test:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3
      
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build the JAR
        run: ant -noinput -buildfile build.xml export_jar

      - name: Run JUnit tests
        run: ant -noinput -buildfile build.xml test